<%= provide :title, "Sign in" %>

<div class="page-signin col-sm-offset-3 col-sm-6">
  <h1 class="center-block">Sign in</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_for(:session, url: sessions_path) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: "control-label" %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: "control-label" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Sign in", class: "btn btn-lg btn-primary" %>
        </div>
      <% end %>        
    </div>


  </div>  
  <p>New user? <%= link_to "Sign up now!", signup_path  %></p>
</div>
