<%= provide(:title, "Edit user") %>

<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <h1 class="center-block">Update your profile</h1>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'shared/error_messages' %>
      
        <%= form_for(@user) do |f| %>

          <%= render partial: 'fields', locals: { f: f } %>
          <div class="form-group">
            <%= f.submit "Save changes", class: "btn btn-lg btn-primary" %>
          </div>
        <% end %> 

        <%= gravatar_for @user %>       
        <a href="http://gravatar.com/emails" target="_blank">change</a>
      </div>
    </div>

      
  </div>  
</div>
