<%= content_for :title, @user.name %>

<div class="user-profile">

  <div class="row">
    <div class="col-sm-offset-1 col-sm-2 user-info center-block">
      <%= gravatar_for @user, size: 40 %>
      <h5><%= @user.name %></h5>
    </div>
    <div class="col-sm-8 user-microposts">
      <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.size %>)</h3>
        <ul class="list-unstyled">
          <%= render @microposts %>
        </ul>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
  </div>

</div>

