<% provide :title, @title %>

<div class="row page-home">
  <div class="col-sm-offset-1 col-sm-3">
    <%= render partial: 'shared/user_info', locals: { user: @user } %>
    <%= render partial: 'shared/stats', locals: { user: @user } %>
    
  </div>
  <div class="col-sm-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="list-unstyled">
        <%= render @users %>
      </ul>
      <%= will_paginate %>      
    <% end %>
  </div>
</div>