<div class="user-info clearfix">
  <div class="gravatar pull-left">
    <a href="<%= user_path(user) %>">
      <%= gravatar_for user, size: 52 %>
    </a>  
  </div>
  <div class="profile pull-left">
    <ul class="list-unstyled">
      <li>
        <strong><%= user.name %></strong>
      </li>
      <li>
        <%= link_to "view my profile", user_path(user)  %>
      </li>
      <li>
        <%= pluralize(user.microposts.count, "micropost") %>
      </li>
    </ul>
    
  </div>
</div>

